html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar-logo{
	width: 40%;
	margin: -13.5% 0;
}

.logo-footer{
	width: 45%;
	margin: -9% 0;
}

.service-img{
	display: block;
	width: 90%;
	margin: 2em auto;
}

.contact-img{
	width: 100%;
	margin: 2em 1em;
}

nav{
	width: 100vw;
}

#plans{
	width: 100vw;
	max-width: 100vw;
}

#services{
}